
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
  }
html{
    font-size: 62.5%;   /* 10/16 *100 = 62.5 */ /*10 is font-size, default font size for browser is 16px. If we declare font size to be in % then user cannot zoom & zoomout on the page. This defines what 1 rem is*/
}

body {
    box-sizing: border-box;
}